<!DOCTYPE html>
<html>
<head>
  <meta charset = "utf-8">
  <title>login</title>
</head>
<body>
  <header>
  <h1>login Page</h1>
  </header>
  <form action = "/process/login" method = "post">
  <table>
    <tr>
      <td><label>ID</labe></td>
      <td><input type = "text" name = "id"></td>
    </tr>
    <tr>
      <td><label>Password</label></td>
      <td><input type = "password" name = "pass"></td>
    </tr>
  </table>
  <button type = "submit">login</button>
  <a href="/registe"><button type="button">회원가입</button>
  </form>


</body>
</html>
