DOCTYPE html
  html
    head
      meta(charset='utf-8')
    div(style='width:40%;')
      form(action='send_info', method='post')
        div
          span
            메일선택
          select#service(name="service" style='width:50px;')
            option(value='Gmail')
              span
                구글
            option(value='naver')
              span
                네이버
        div
          span
            도메인
          input(type='text' name='host' placeholder='localhost')
        div
          span
            포트
          input(type='text' name='port' placeholder='465')
        div
          span
            이메일 아이디
          input(type='text' name='subject' placeholder='아이디')
        div
          span
            이메일 비번
          input(type='text' name='subject' placeholder='비번')
        div
          input(type='submit' value='확인')
