html, body {
 margin: 0;
 padding: 0;
 font-family: 'Roboto','kakao', sans-serif;
 width:100%;
}

.header {
 padding: 15px;
 background:#00acc1  ;
}

.header img {
   display: inline-block;
}

.header h1 {
   display: inline-block;
   font-weight:700;
   color:#fff;
}

.main {
 background-color: #f2f2f2 ;
 padding: 40px 0;
}

.main h2 {
 color: #0097a7    ;
 font-size: 48px;
 margin: 0 0 40px 0;
 padding: 20px 0;
   line-height: 48px;
   width: 50%;
   font-weight:400;
}

.main h3 {
 color: #757575;
 font-size: 22px;
    margin:5px 0;
}

ul {
	list-style:none;
	margin:0;
	padding: 0;
}

.thumbnail {
 border: 0px;
 position: relative;
 padding: 50px;
   border-radius: 0;
   margin-bottom:50px;
   box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.thumbnail img {
   margin-top: 10px;
 margin-bottom: 30px;
 max-width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.title {
 color: #444;
 font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date {
    display: block;
    margin: 0;
   color: #a3a3a3 ;
   font-size: 14px;
   font-weight: 200;
}

.price {
 background-color: #00bcd4   ;
 color: #fff;
 font-size: 18px;
   border-radius: 50%;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   font-weight: 200;
   height: 80px;
   line-height: 80px;
   text-align: center;
   width: 80px;
 position: absolute;
 top: -40px;
 right: 20px;
}

.rating {
 text-align: right;
 -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
 margin: 10px 0 -30px 20px;
}

.likes,
.dislikes {
   background: #f44336   ;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 font-size: 18px;
   line-height: 60px;
   min-width: 60px;
   height: 60px;
   border-radius: 50%;
 margin: 0 -30px 0 40px;
   text-align: center;
   font-weight: 200;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   transition: background 500ms;
}
button {
    border:none;
}
.dislikes {
	background: #2196f3    ;
}
.likes:hover,
.dislikes:hover {
 color: #f44336 ;
   background: rgba(246, 90, 91, 0.25);
   transition: background 500ms;
}
.dislikes:hover {
	color: #2196f3 ;
	background:#e3f2fd ;
}

.footer {
 text-align: center;
 margin: 80px 0 110px;
}

.footer h2 {
 font-size: 24px;
 margin-bottom: 25px;
}

.footer img {
   margin: 0 10px;
}
